raw_data/
notebooks/shoefer987_project_pitch.ipynb
notebooks/shoefer987_preprocessing.ipynb
notebooks/jui-kate_clustering.ipynb
notebooks/jonathan122802*
.env
__pycache__/
*checkpoint.ipynb
*.ipynb_checkpoints
*.egg-info
env
env:Zone.Identifier
notebooks/archanaa_data_exploration.ipynb:Zone.Identifier
notebooks/jui-kate_clustering.ipynb
notebooks/jui-kate_feature_eng.ipynb
