raw_data/
notebooks/shoefer987_project_pitch.ipynb
notebooks/shoefer987_preprocessing.ipynb

.env
__pycache__/
*checkpoint.ipynb
*.ipynb_checkpoints
*.egg-info
env
env:Zone.Identifier
notebooks/archanaa_data_exploration.ipynb:Zone.Identifier
